#addMoreNames {
  font-size: 18px;
  font-weight: 800;
  color: #4b92fb;
  cursor: pointer;
}

#addMoreNames:hover {
  text-decoration: solid underline;
}

@media only screen and (max-width: 1000px) {
  .arrow {
    display: none;
  }
}
