html {
  scroll-behavior: smooth;
}

#addMoreNames {
  font-size: 18px;
  font-weight: 800;
  color: #4b92fb;
  cursor: pointer;
}

#addMoreNames:hover {
  text-decoration: solid underline;
}

.error {
  color: red;
}

@media only screen and (max-width: 1000px) {
  .arrow {
    display: none;
  }
}

/* Disable smooth scrolling when users have prefers-reduced-motion enabled */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
